src/main/resources/word.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="user.xsd"/>

    <xs:complexType name="word">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="originalWord" type="xs:string"/>
            <xs:element name="translate" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>